<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943777440657-vkvb1f96v75td81bg4ilu083kqodhrpo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943777440657-vkvb1f96v75td81bg4ilu083kqodhrpo</string>
	<key>API_KEY</key>
	<string>AIzaSyDjS4fQmFQzUkcTQjKZVxXtjJ9HwrUCbnI</string>
	<key>GCM_SENDER_ID</key>
	<string>943777440657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gabor.finance4people</string>
	<key>PROJECT_ID</key>
	<string>finance4people-58004</string>
	<key>STORAGE_BUCKET</key>
	<string>finance4people-58004.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943777440657:ios:ba5bba36826a5d1eb6f030</string>
</dict>
</plist>